@model IEnumerable<CRUD_Alumnos.Models.Alumno>

@{
    ViewBag.Title = "Lista de Alumnos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de Alumnos</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Agregar")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombres )
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellidos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Edad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sexo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellidos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Edad)
        </td>
        <td>
            @{
                if (item.Sexo == "M")
                {
                    <span>Masculino</span>
                }
                else
                {
                    <span>Femenino</span>
                }
            }


        </td>
        <td>
            @*Muestro la fecha dd/MM/YYYYs*@
            @item.FechaRegistro.ToShortDateString()
        </td>
        <td>
            @Html.ActionLink("Editar", "Editar", new { id=item.Id }) |
            @Html.ActionLink("Detalles", "DetallesAlumno", new { id=item.Id }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.Id }, new { @class="aEliminar"})
        </td>
    </tr>
}

</table>

@*Esto es para que le pregunte si esta seguro si quiere eliminar el registro para que no alla errores*@

@section scripts{
    <script>
        $(".aEliminar").click(function (event) {
            /*if(!confirm("Estas seguro de eliminar?") == false)*/

            if (!confirm("¿Estás seguro de eliminar este registro ?")) {
                event.preventDefault();
            }

        })




    </script>
        
}