@model IEnumerable<CRUD_Alumnos.Models.Ciudad>

@*
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>


*@

@* Este foreach me va a dar la forma del select o del combo de ciudades *@

<select class="form-control" id="idCiudad" name="idCiudad">
    @foreach (var item in Model)
    {
        <option value="@item.Id">@item.Nombre</option>
    }
</select>

